.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  transition: width 0.2s, height 0.2s;
  will-change: transform, left, top;
  opacity: 1;
}

.cursor.expand {
  width: 40px;
  height: 40px;
}

.trail {
  position: fixed;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, opacity 0.3s ease-out;
  will-change: transform, left, top, opacity;
}

body {
  cursor: auto;
}

@media (hover: none) and (pointer: coarse) {
  .cursor,
  .trail {
    display: none !important;
  }

  body {
    cursor: auto !important;
  }
}

@media (max-width: 1024px) {
  .cursor,
  .trail {
    display: none;
  }

  body {
    cursor: auto;
  }
}
